<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.asignaturas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bird_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Average">
        <activity
            android:name=".ActivityHome"
            android:exported="false" />
        <activity
            android:name=".ActivityVerDatos"
            android:exported="false" />
        <activity
            android:name=".ActivityAyuda"
            android:exported="false" />
        <activity
            android:name=".ActivityEstadisticas"
            android:exported="false" />
        <activity
            android:name=".ActivityRegistro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>